<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contactos</title>
</head>

<body>
    <div class="container text-center">
        <h1>Contactos</h1>

        <div class="row justify-content-center">
            <div class="col-md-4 text-center mb-3">
                <a href="buscar">Buscar</a>
            </div>
            <div class="col-md-4 text-center mb-3">
                <a href="insertar">Insertar</a>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody id="tbody_contactos">
                <!-- Aquí se mostrarán los datos de los contactos -->
            </tbody>
        </table>

        <button onclick="logout()">Cerrar Sesión</button>
    </div>

    <script src="../static/js/get_all.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            getAll();
        });

        function logout() {
            document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location.href = "/";
        }
    </script>
</body>

</html>
